#java specific
*.class
*.jar

#build
/build
/out
/bin
/target
/classes

#IDEA
/*.iml
/*.ipr
/*.iws
.idea

#eclipse
*.classpath
*.project
*.settings

## generic files to ignore
*~
*.lock
*.lck
*.DS_Store
*.swp
*.out
.gradle

mydb.logdesktop.ini
